/*ESTILO PARA EL TÍTULO*/
.titulo{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
    height: 40px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*ESTILO PARA EL CONTENEDOR DE LA TABLA*/
.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}