
<!-- BOTÓN AGREGAR NUEVOS PRODUCTOS -->
<button type="button" class="btn outline-primary botonAgregar" data-bs-toggle="modal" data-bs-target="#AgregarProducto">Agregar nuevo producto</button>


<!-- MODAL PARA AGREGAR NUEVOS PRODUCTOS -->
<div class="modal fade" id="AgregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--TÍTULO DEL MODAL-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <!--CUERPO DEL MODAL-->

            <div [formGroup]="producto" class="modal-body">
                <!--nombre-->
                <div class="mb-3">
                    <label class="from-label">Ingrese nombre:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre del producto...">
                </div>
                <!-- precio -->
                <div class="mb-3">
                    <label class="from-label">Ingrese precio:</label>
                    <input class="form-control" type="number" formControlName="precio">
                </div>
                <!--categoría-->
                <div class="mb-3">
                    <label class="from-label">Seleccione categoría del producto:</label>
                    <select class="form-control" formControlName="categoria">
                        <option selected>Elija una opción</option>
                        <option value="ciencia-ficcion">Ficción</option>
                        <option value="thriller">Thriller</option>
                        <option value="romance">Romance</option>
                        <option value="policial">Policial</option>
                    </select>
                </div>
                <!-- autor -->
                <div class="mb-3">
                    <label class="from-label">Ingrese autor:</label>
                    <input class="form-control" type="text" formControlName="autor" placeholder="Autor/a del libro...">
                </div>
                <!--descripción-->
                <div class="mb-3">
                    <label class="from-label">Ingrese descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="Descripción del producto...">
                </div>
                <!--imagen-->
                <div class="mb-3">
                    <label class="from-label">Ingrese una imagen ilustrativa:</label>
                    <input class="form-control" type="text" formControlName="imagen" placeholder="Link de imagen...">
                </div>
                <!--alt de imagen-->
                <div class="mb-3">
                    <label class="from-label">Ingrese texto alterntivo para la imagen del producto:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Descripción de la imagen...">
                </div>
                <!--¿oferta?-->
                <div class="mb-3">
                    <label class="form-label">¿Producto en oferta?</label>
                    <select class="form-control" formControlName="oferta" class="form-select">
                        <option selected disabled>Elija una opción</option>
                        <option value=true>Sí</option>
                        <option value=false>No</option>
                    </select>
                </div>
                <!--stock (cantidad)-->
                <div class="mb-3">
                    <label class="from-label">Ingrese cantidad en stock:</label>
                    <input class="form-control" type="number" formControlName="stock" placeholder="Stock del producto...">
                </div>
            </div>


            <!--ACCIONES DEL MODAL-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar Cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<!--MODAL PARA EDITAR PRODUCTO-->
<div class="modal fade" *ngFor="let productoEdit of coleccionProductos" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--TÍTULO DEL MODAL-->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <!--CUERPO DEL MODAL-->

            <div [formGroup]="producto" class="modal-body">
                <!--nombre-->
                <div class="mb-3">
                    <label class="from-label">Ingrese nombre:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="{{productoEdit.nombre}}">
                </div>
                <!-- precio -->
                <div class="mb-3">
                    <label class="from-label">Ingrese precio:</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="{{productoEdit.precio}}">
                </div>
                <!--categoría-->
                <div class="mb-3">
                    <label class="from-label">Seleccione categoría del producto:</label>
                    <select class="form-control" formControlName="categoria">
                        <option selected>Elija una opción</option>
                        <option value="ciencia-ficcion">Ficción</option>
                        <option value="thriller">Thriller</option>
                        <option value="romance">Romance</option>
                        <option value="policial">Policial</option>
                    </select>
                </div>
                <!-- autor -->
                <div class="mb-3">
                    <label class="from-label">Ingrese autor:</label>
                    <input class="form-control" type="text" formControlName="autor" placeholder="{{productoEdit.autor}}">
                </div>
                <!--descripción-->
                <div class="mb-3">
                    <label class="from-label">Ingrese descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="{{productoEdit.descripcion}}">
                </div>
                <!--imagen-->
                <div class="mb-3">
                    <label class="from-label">Ingrese imagen:</label>
                    <input class="form-control" type="text" formControlName="imagen" placeholder="{{productoEdit.imagen}}">
                </div>
                <!--alt de imagen-->
                <div class="mb-3">
                    <label class="from-label">Ingrese texto alternativo para imagen del producto:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="{{productoEdit.alt}}">
                </div>
                <!--¿oferta?-->
                <div class="mb-3">
                    <label class="form-label">¿Producto en oferta?</label>
                    <select class="form-control" formControlName="oferta" class="form-select">
                        <option selected disabled>Elija una opción</option>
                        <option value=true>Sí</option>
                        <option value=false>No</option>
                    </select>
                </div>
                <!--stock (cantidad)-->
                <div class="mb-3">
                    <label class="from-label">Ingrese cantidad en stock:</label>
                    <input class="form-control" type="number" formControlName="stock" placeholder="{{productoEdit.stock}}">
                </div>
            </div>


            <!--ACCIONES DEL MODAL-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarProducto()">Guardar Cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>


<!-- MODAL PARA ELIMINAR UN PRODUCTO -->
    <div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- ENCABEZADO -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Desea eliminar el producto?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <!-- CUERPO DE MODAL -->
                <div class="modal-body">
                    <h2>{{productoSeleccionado.nombre}}</h2><br>
                    <img class="img-modal" src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
                </div>
    
                <!-- ACCIONES -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>




<!-- TABLA VISUAL PARA ADMIN -->

<!--
tr: columnas
th: renglones en negrita
td: renglones sin negrita
-->

<table class="table">
    <thead> <!--ENCABEZADO DE TABLA-->

        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoria</th>
            <th scope="col">Autor</th>
            <th scope="col">Descripción</th>
            <th scope="col">¿Oferta?</th>
            <th scope="col">Stock</th>
            <th scope="col">Acciones</th> <!--th para separar acciones del cuerpo de la tabla-->
        </tr>

    </thead>

    <tbody> <!--CUERPO DE TABLA-->
        <tr *ngFor="let producto of coleccionProductos">

            <th scope="row"></th>

            <td>
                <img src="{{producto.imagen}}" alt="{{producto.alt}}" width="100px">
            </td>
            <td>{{producto.nombre}}</td>
            <td>${{producto.precio}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.autor}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.oferta}}</td>
            <td>{{producto.stock}}</td>

            <!--ACCIONES-->
            <td>
                <!--boton editar-->
                <button id="btn-edit" title="Editar" type="botton" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(producto)">
                    <mat-icon>edit</mat-icon>
                </button>

                <!--boton eliminar-->
                <button id="btn-delete" title="Eliminar" type="botton" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>

        </tr>
    </tbody>
</table>