
<!--IMAGEN PRESENTACIÓN CATEGORÍA-->
<div class="presentación">
  <img src="../../../../../assets/img.pag.productos/img-todos.jpg" class="img-presentacion">
</div>

<!--CARRUSEL INFINITO-->

<div class="mi-carrusel">
    <div class="mi-carrusel-inner">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318871.png" alt="Imagen 1">
      <img src="https://cdn-icons-png.flaticon.com/512/6331/6331546.png" alt="Imagen 2">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318971.png" alt="Imagen 3">
      <img src="https://cdn-icons-png.flaticon.com/512/4033/4033585.png" alt="Imagen 4">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318871.png" alt="Imagen 5">
      <img src="https://cdn-icons-png.flaticon.com/512/6331/6331546.png" alt="Imagen 6">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318971.png" alt="Imagen 7">
      <img src="https://cdn-icons-png.flaticon.com/512/4033/4033585.png" alt="Imagen 8">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318871.png" alt="Imagen 9">
      <img src="https://cdn-icons-png.flaticon.com/512/6331/6331546.png" alt="Imagen 10">
    
      <!-- Duplicamos las imágenes para crear el efecto de bucle infinito -->
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318971.png" alt="Imagen 1">
      <img src="https://cdn-icons-png.flaticon.com/512/4033/4033585.png" alt="Imagen 2">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318871.png" alt="Imagen 3">
      <img src="https://cdn-icons-png.flaticon.com/512/6331/6331546.png" alt="Imagen 4">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318971.png" alt="Imagen 5">
      <img src="https://cdn-icons-png.flaticon.com/512/4033/4033585.png" alt="Imagen 6">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318871.png" alt="Imagen 7">
      <img src="https://cdn-icons-png.flaticon.com/512/6331/6331546.png" alt="Imagen 8">
      <img src="https://cdn-icons-png.flaticon.com/512/5318/5318971.png" alt="Imagen 9">
      <img src="https://cdn-icons-png.flaticon.com/512/4033/4033585.png" alt="Imagen 10">

    </div>
</div>

<app-card></app-card>
