<div class="container encabezado">
  <h1>Inicio de sesión</h1>
</div>

<div class="container routeoRegistro">
  <h2>¿Todavía no creaste una cuenta?</h2>
  <button class="btn routRegistro" mat-button routerLink="/registro">Registrate</button>
</div>

<div class="container iniciosesion">

    <div class="row">
  
      <i class="material-icons" style="font-size: 200px;"> person </i>
  
      <!--email-->
      <mat-form-field appearance="fill">
        <mat-label>Ingrese correo electrónico:</mat-label>
        <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: ejemplo@gmail.com" required>
        <mat-hint align="start">Ingrese correo electrónico</mat-hint>
      </mat-form-field>
  
      <!--contraseña-->
      <mat-form-field>
        <mat-label>Ingrese su contraseña:</mat-label>
        <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="start">Ingrese contraseña: 6/{{input.value.length}}</mat-hint>
      </mat-form-field>
  
      <!--boton guardar inicio sesión-->
      <div class="div-boton-guardar">
        <button class="btn-guardar" mat-raised-button (click)="iniciarSesion()">Iniciar sesión</button>
      </div>
  
    </div>
  </div>