
mat-toolbar {
    background-color: #3a2b20;
    color: rgb(255, 255, 255);
}

button{
    font-family: Arial, Helvetica, sans-serif;
}

/*para pantallas computadora, televisor, tablet*/
@media(min-width: 700px) {

    .logo-inicio {
        width: 50px;
        border-radius: 200px;
        margin-right: auto;
        cursor: pointer;
        transition: transform 4s ease;
        /* Aplica una transición suave */
    }

    /* Cuando el cursor se posicione encima del logo: */
    .logo-inicio:hover {
        animation: girar 2s ease forwards;
        /* gira 2 vueltas en 2segs */
    }
    /* definición de la animación de rotación */
    @keyframes girar {
        from {
            transform: rotate(0deg);    
            /* comienza en 0 grados */
        }
        to {
            transform: rotate(720deg);
            /* gira 2 vueltas completas (360)*/
        }
    }

    /*estilos para acomodar los containers en sus posiciones (izquierda, centro, derecha)*/
    .mat-toolbar {
        display: flex;
        justify-content: space-between; /* Distribuye los elementos de forma equitativa */
        align-items: center; /* Centra verticalmente los elementos dentro de cada contenedor */
    }  
    .container-izq,
    .container-centro,
    .container-der {
        display: flex;
        align-items: center;
    }

    /*estilos para los botones con texto del menú*/
    .btn-menu{
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 3rem;
        text-align: center;
        margin: 10px;
    }
    .btn-menu:hover{
        background-color: #efe7dd;
        color: #3a2b20;
    }

    /*estilos para los botones íconos*/
    .boton-icon-menu:hover{
        background-color: #efe7dd;
        color: #3a2b20;
    }

    /*estilo especial para ícono "home"*/
    .icono-home{
        margin-left: 10px;
    }

}




/*para pantallas chicas (celular)*/
@media(min-width: 300px) and (max-width: 700px) {

    .logo-inicio {
        width: 35px;
        border-radius: 200px;
        margin-right: auto;
        margin-bottom: 7px;
    }

    /* Cuando se haga click en el logo: */
    .logo-inicio:active {
        /*
        ease: movimiento suave; 
        forward: vuelve al mismo lugar al terminar
        */
        animation: girar 2s ease forwards;
        /* gira 2 vueltas en 2segs */
    }
    /* definición de la animación "girar" */
    @keyframes girar {
        from {
            transform: rotate(0deg);    
            /* empieza en 0 grados */
        }
        to {
            transform: rotate(720deg);
            /* gira 2 vueltas completas, de 360 grados*/
        }
    }

    /*estilos para acomodar los containers en sus posiciones (izquierda, centro, derecha)*/
    .mat-toolbar {
        display: flex;
        justify-content: space-between; /* Distribuye los elementos de forma equitativa */
        align-items: center; /* Centra verticalmente los elementos dentro de cada contenedor */
    }  
    .container-izq,
    .container-centro,
    .container-der {
        display: flex;
        align-items: center;
    }


}