/*
Media querys son estilos que se aplican dependiendo de 
la pantalla (px) o resolución del dispositivo que abre la app.
*/

/*para pantallas chicas (celular)*/
@media(min-width: 300px) and (max-width: 700px) {

    mat-toolbar {
        background-color: #503b2f;
        color: rgb(255, 255, 255);
    }

    /*oculta éstas secciones en caso de pantalla mayor a 700px*/
    #menuInicio {
        display: none;
    }

    #menuProducto {
        display: none;
    }

    .boton-productos {
        background-color: #3a2b20;
        border-radius: 15px;
    }

    .boton-productos:hover {
        background-color: #4d3428;
    }

    .logo {
        width: 40px;
        border-radius: 200px;
        margin-right: auto;

    }

    .carrito {
        margin-left: auto;
    }


}

/*para pantallas computadora, televisor, tablet*/
@media(min-width: 700px) {
    mat-toolbar {
        background-color: #4b3426;
        color: rgb(255, 255, 255);
    }

    /*oculta ésta sección en caso de pantalla menor a 700px*/
    #menuSecciones {
        display: none;
    }

    .logo {
        width: 50px;
        border-radius: 200px;
        margin-right: auto;
        transition: transform 4s ease;
        /* Aplica una transición suave */
    }



    /* Cuando el cursor se posicione encima del logo: */
    .logo:hover {
        animation: girar 2s ease forwards;
        /* gira 2 vueltas en 2segs */
    }
    /* definición de la animación de rotación */
    @keyframes girar {
        from {
            transform: rotate(0deg);
            /* comienza en 0 grados */
        }

        to {
            transform: rotate(720deg);
            /* gira 2 vueltas completas (360)*/
        }
    }

    .boton-productos {
        background-color: #3a2b20;
        border-radius: 15px;
    }

    .boton-productos:hover {
        background-color: #4d3428;
    }

    .carrito {
        margin-left: auto;
    }
}