
/*
Media querys son estilos que se aplican dependiendo de 
la pantalla (px) o resolución del dispositivo que abre la app.
*/

@media(min-width: 300px) and (max-width: 700px) {
    /*para pantallas chicas (celular)*/

    mat-toolbar {
        background-color: #61412d;
        color: rgb(240, 233, 211);
    }

    /*oculta éstas secciones en caso de pantalla mayor a 700px*/
    #menuInicio {
        display: none;
    }

    #menuProducto {
        display: none;
    }

    .carrito{
        margin-left: -50px;
    }
}

@media(min-width: 700px) {

    /*para pantallas computadora, televisor, tablet*/
    mat-toolbar {
        background-color: #4b3426;
        color: rgb(255, 255, 255);
    }

    /*oculta ésta sección en caso de pantalla menor a 700px*/
    #menuSecciones {
        display: none;
    }
}