/*ESTILOS PARA LINKS REDES SOCIALES*/
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-lg-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.redes-sociales{
    margin-top: 10px;
}

.logo-redes{
    background-color: transparent;
    border: none;
    border-radius: 100px;
}

.img-redes{
    width: 80px;
}


/*ESTILOS PARA EL DIV GENERAL (form, maps)*/
.container-form-maps, .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


/*ESTILOS PARA FORM CONTACTO*/
.formulario{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
    width: 450px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    color: #423125;
    margin-bottom: 30px;
    margin-top: 10px;
}

label{
    color: #242424;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea{
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: rgb(240, 239, 238);
    border: none;
    border-radius: 8px;
    color: #727272;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #727272;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #47382c;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 15px;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    background-color: #423125;
    cursor: pointer;
}

.btn:hover{
    background-color: #614f42;
}


@media(min-width: 700px){

    /*ESTILOS PARA MAPS*/
    .maps{
    border-radius: 15px;
    width: 450px;
    height: 620px;
    }
}

@media(max-width: 700px){

    /*estilo para el form*/
    form{
        padding: 15px;
        width: 100%;
    }
    input{
        padding: 15px;
    }

    /*ESTILOS PARA MAPS*/
    .maps{
        border-radius: 15px;
        width: 300px;
        height: 300px;
        }
}