/* Estilos generales para el contenedor de las tarjetas */
.tarjetas {
    display: flex; /* Mostrar las tarjetas en una fila */
    flex-wrap: wrap; /* Envolver las tarjetas cuando no quepan en una sola fila */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    margin-bottom: 3%;
  }
  
  /* Estilos para cada tarjeta individual */
  .card {
    width: 18rem; /* Ancho base de cada tarjeta */
    border: 1px solid #ccc; /* Borde delgado con color gris claro */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido que sobresalga del borde */
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
  }
  
  .card:hover {
    transform: scale(1.05); /* Efecto de escalar la tarjeta al hacer hover */
  }
  
  .card-img-top {
    height: 500px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor sin deformarla */
  }
  
  .card-body {
    padding: 1rem; /* Espaciado interno del cuerpo de la tarjeta */
  }
  
  .card-title {
    font-size: 1.25rem; /* Tamaño del título */
    margin-bottom: 0.5rem; /* Margen inferior del título */
  }
  
  .card-text {
    color: #666; /* Color de texto gris */
    margin-bottom: 0.5rem; /* Margen inferior del texto */
  }
  
  .btn {
    display: flex;
    justify-content: center;
    background-color: #503524; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    padding: 0.5rem 1rem; /* Relleno del botón */
    text-decoration: none; /* Quitar subrayado del enlace */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .btn:hover {
    background-color: #774e34; /* Cambiar color de fondo al hacer hover */
  }
  
  /* Estilos para hacer las tarjetas responsivas */
  @media (max-width: 768px) {
    .tarjetas {
      flex-direction: column; /* Cambiar a una columna cuando el tamaño de pantalla sea menor */
      align-items: center; /* Centrar las tarjetas verticalmente */
    }
  
    .card {
      width: calc(100% - 20px); /* Ancho completo menos el espacio entre tarjetas */
    }
  }