/*estilo para dar sombreado al ícono person*/
.material-icons {
    font-size: 200px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.container{
    display: flex;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.registro{
    width: 500px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

mat-form-field{
    width: 500px;
}

p{
    width: 500px;
    text-align: center;
}

button{
    margin: 2%;
}

.btn-guardar{
    color: white;
    background-color: #3d210a;
}