.container {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 30px; /* Margen  y centrado horizontal */
    margin-bottom: 30px;
    padding: 15px;
    background-color: #4b3222;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    font-size: 2rem; /* Tamaño de fuente grande para el título */
    color: #ffffff; 
    margin-bottom: 10px; 
}

p {
    font-size: 1.2rem; /* Tamaño de fuente para el párrafo */
    color: #ffffff; 
}

h2, p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Media query para pantallas pequeñas */
@media (max-width: 700px) {
    
    .container{
        width: 100%;
    }

    .banner{
        scale: 0.9;
    }

    .banner h2 {
        font-size: 1.5em; /* Reducir tamaño de fuente del título principal */
    }

    .banner p {
        font-size: 1em; /* Reducir tamaño de fuente del párrafo */
    }

    .banner h2:last-child {
        font-size: 2em; /* Reducir tamaño de fuente de las flechas */
    }
}

/*Estilos para pantallas grandes */
@media (min-width: 700px) {
    .container{
        width: 40%;
    }
}

