<footer class="site-footer"> <!-- Inicia el footer con la clase site-footer -->
    <div class="container"> <!-- Contenedor principal del footer -->
        <div class="footer-logo"> <!-- Logotipo en el footer -->
            <img src="../../../../assets/logofooter.jpg" alt="Logo Booktour"> <!-- Inserta el logo de la librería -->
        </div>
        <nav class="footer-nav"> <!-- Navegación en el footer -->
            <ul>
                <!-- Enlace de navegación a inicio-->
                <li class="nav"><a routerLink="inicio">Volver a Inicio</a></li>
                
                <!--boton ruta administración-->
                <li class="nav"><a routerLink="admin">Administración</a></li>

            </ul>
        </nav>
        <div class="footer-contact"> <!-- Información de contacto -->
            <p><strong>Contacto:<br></strong> info.booktour@gmail.com</p>
        </div>
    </div>
    <div class="footer-bottom"> <!-- Pie del footer -->
        <p>&copy; 2024 Booktour, Librería Online.</p>
    </div>
</footer>