
<div class="encabezado">
    <h1>Carrito de compras</h1>
</div>

<div class="container">

    <div class="row">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let pedido of coleccionPedidos">

                    <div class="info">
                        <p>Haz agregado {{pedido.cantidad}} libro(s),</p><br>
                        <p>del título "{{pedido.producto.nombre}}".</p><br>
                        <b>Total del pedido: ${{pedido.total}}</b>
                    </div>

                    <div class="boton-eliminar">
                        <button class="btn btn-danger" (click)="quitarPedido(pedido)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                </li>
            </ul>
    </div>

</div>