/*Estilos para el encabezado*/
.container.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
  }
  
  .container.encabezado h1 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000; 
    text-align: center;
    margin: 0;
  }


/*estilos para texto sobre google maps*/
#texto-maps{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #3a2b20;
    color: aliceblue;
    margin-top: 2rem;
    padding: 10px;
}

/*media query para pantallas grandes (min 700px)*/
@media (min-width: 700px){
    #maps iframe,
#video-historia video {
    width: 70%;
    height: auto;
    max-width: 100%;
    margin: 1.5rem;
    margin-left: 13rem;
}
}


/* media query para pantallas pequeñas (max 700px)*/
@media (max-width: 700px) {
    #maps iframe {
        width: 90%;
        height: 300px; /* Puedes ajustar la altura según sea necesario */
        margin: 1rem;
    }

    #video-historia video {
        width: 100%;
        height: auto; /* Mantiene la proporción del video */
    }
}