<!--
<mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.7434528534445!2d-67.98822642468585!3d-38.92984089864403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1sen!2sar!4v1730209730741!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </mat-grid-tile>

    <mat-grid-tile>
        <h1>Contacto</h1><br>
        <h3>ig</h3>
    </mat-grid-tile>

  </mat-grid-list>
-->

<div id="video-historia">
    <video width="800" height="500" autoplay muted>
        <source src="../../../../../assets/video.sobrenosotros/videoBooktour (1).mp4" type="video/mp4">
    </video>
</div>

<div id="maps">
    <h1 id="texto-maps">Descubrí nuestras sucursales</h1>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.7434528534445!2d-67.98822642468585!3d-38.92984089864403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1sen!2sar!4v1730209730741!5m2!1sen!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
