<!-- Card para mostrar TODOS los productos que el admin ingrese a la base de datos -->
<div class="container-tarjetas">
    <div class="card" style="width: 18rem;" *ngFor="let producto of coleccionFiccion">
        <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.alt}}">

        <div class="card-body">
            <h3 class="card-title">{{producto.nombre}}</h3>
            <h4 class="card-autor">{{producto.autor}}</h4>
            <h1 class="card-text">$ {{producto.precio}}</h1>

            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#verMas"
                (click)="mostrarVer(producto)">Ver más</button>
        </div>
    </div>
</div>

<!-- Modal para ver más información -->
<div class="modal fade" *ngIf="modalVisible" id="verMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{productoSeleccionado.nombre}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <img class="img-modal" src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">

                <div class="mb-precio">
                  <h1> $ {{productoSeleccionado.precio}} </h1>
                </div>

                <div class="mb-descripcion">
                    {{productoSeleccionado.descripcion}}
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal" data-bs-dismiss="modal">Agregar al carrito</button>
                <button type="button" class="btn-modal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>