<!--card para mostrar todos los productos que el admin ingrese a la BD-->
<div class="contenido" *ngFor="let producto of coleccionProductos">

    <div class="card" style="width: 18rem;">

        <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.alt}}">

        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.precio}}</p>

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verMas"
                (click)="mostrarVer(producto)">Ver más</button>
        </div>

    </div>

</div>
